body {
    font-size: 20px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    direction: rtl;
    font-family: "yekan" !important;
}

html {
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

.no-btn-margin {
    margin-bottom: 0 !important;
}

@font-face {
    font-family: "yekan";
    src: url(../font/Yekan.eot);
    src: url(../font/Yekan.eot?#iefix) format("embedded-opentype"), url(../font/Yekan.woff) format("woff"), url(../font/Yekan.ttf) format("truetype"), url(../font/Yekan.svg#BYekan) format("svg");
    font-weight: normal;
    font-style: normal;
}

.fill {
    width: 100%;
    height: 100%;
}

validation {
    font-size: 12px;
    display: block;
    color: red;
    text-align: right;
    font-family: yekan;
}

.register validation,
.login validation {
    color: #fff;
}

.changePassword validation,
.category validation,
.task validation {
    color: #ff0000;
}

/*login*/
.login label {
    font-family: yekan;
    cursor: pointer;
}

.login .header-text label.master-title {
    font-size: 3rem;
    font-family: yekan;
}

.login .header-text label.title {
    font-size: 2rem;
    margin-left: 1rem;
    font-family: yekan;
}

.login .input-field input {
    padding-right: 1rem;
    border-radius: 1px;
    font-family: yekan;
    margin-bottom: 0;
}

.login .white-text {
    cursor: pointer;
}

.login .btn {
    border-radius: 3px;
    font-family: yekan;
}

.login .valign {
    width: 100%;
}

.login [type="checkbox"].filled-in:checked + label:after {
    border: 2px solid white;
    background-color: #ff8a80;
}

.login [type="checkbox"].filled-in:not(:checked) + label:after {
    border: 2px solid white;
}

.spinner-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-color: white;
}

i.mdi-check {
    font-size: 3rem;
}
/*index*/
.index nav img, .changePassword nav img, .logout nav img, .profile nav img, .category nav img, .task nav img {
    width: 3rem;
    height: 3rem;
    margin-top: 0.75rem;
    margin-left: 1rem;
}

.index nav ul {
    font-family: yekan;
}

.index a:hover {
    background: inherit;
}

.index nav ul li a, .changePassword nav ul li a, .logout nav ul li a, .profile nav ul li a, .category nav ul li a, .task nav ul li a {
    font-size: 2rem;
}

.index .container label {
    font-family: yekan;
    font-size: 1.5rem;
    padding-right: 2rem;
}

.index .container {
    padding-top: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
}

.index .pagination li.active {
    background-color: #009688;
}

.index label.chkbox {
    padding-right: 1rem;
}

/*.index .custom-col {*/
    /*width: 2rem !important;*/
/*}*/

.index label.task {
    font-size: 1.2rem;
}

.index label.date {
    font-size: 1.2rem;
    font-family: Roboto;
}

.index a.btn {
    padding: 0 1rem;
}

    .index a.btn:hover {
        background-color: #26a69a;
    }

.index hr.checkpointer {
    position: relative;
    top: 2.6rem;
    right: 2.5rem;
    margin-left: 15rem;
}

.index i.edit {
    margin-right: 1rem;
    cursor: pointer;
}

.index .modal h4 {
    font-family: yekan;
    font-size: 1.5rem;
}

.index .modal .input-field {
    margin-top: 4rem;
}

.index .modal label {
    font-family: yekan;
    font-size: 1rem;
    position: absolute !important;
    right: 1.2rem !important;
}

.index .datepicker {
    z-index: 999;
}

.index .modal a.modal-close {
    padding: 0.6rem 3rem;
    border-radius: 5px;
}

.index nav ul.dropdown-content li a,
.changePassword nav ul.dropdown-content li a,
.logout nav ul.dropdown-content li a,
.profile nav ul.dropdown-content li a,
.category nav ul.dropdown-content li a,
.task nav ul.dropdown-content li a {
    font-size: 1rem;
}

.index ul.dropdown-content,
.changePassword ul.dropdown-content,
.logout ul.dropdown-content,
.profile ul.dropdown-content,
.task ul.dropdown-content,
.category ul.dropdown-content {
    top: 4rem !important;
    left: 1rem !important;
    width: 8rem !important;
}

.index a.edit-title {
    margin-left: 1.8rem;
}

.modal {
    width: 30%;
}

#modal2 {
    height: 50% !important;
}

#modal1 {
    height: 60% !important;
}

#modal3 {
    height: 100% !important;
    overflow-x: hidden !important;
}

span {
    font-family: yekan;
}

.index img.pro {
    width: 10rem !important;
    height: 10rem !important;
}

#modal3 img {
    width: 6rem;
    height: 6rem;
    margin: 1rem;
    border: 1px solid silver;
}

#modal3 i.fa-camera {
    font-size: 2rem;
    position: absolute;
    top: 6rem;
    right: 1rem;
    background-color: #009688;
    padding: 1rem;
    border-radius: 100%;
}

#modal3 .modal-content {
    padding: 0;
    overflow-x: hidden !important;
}

#modal3 .input-field {
    margin: 4rem 2rem 0;
}

.pointer {
    cursor: pointer;
}



.detail-card-img{
    width: 5rem;
    height: 5rem;
    margin: 0.5rem 1rem;
}

.no-btm-margin{
    margin-bottom: 0;
}

span.date{
    margin: 1rem;
    font-size: 1.5rem;
}
.comment{
    font-family: yekan;
    padding: 0px!important;
}
.comment-pic{
    margin: 1.6rem 1rem;;
    width: 5rem;
    height: 5rem;
}
.comment p{
    border-bottom: 1px solid silver;
    padding: 1rem;
    margin: 2rem 1rem!important;
    font-size: 1.5rem;
}

.detail-img{
    margin: 0.3rem 1rem;
    width: 3.5rem;
}