<div class="container valign-wrapper login">
    <div class="valign">
        <form name="form" valid-submit="changePassword()" novalidate>
            <div class="row header-text center ">
                <label class="master-title teal-text text-lighten-4">تغییر رمز عبور</label>
            </div>
            <div class="row center ">
                <div class="input-field col l4 offset-l4 m4 offset-m4 s4 offset-s4">
                    <input name="currentPassword" ng-model="model.currentPassword" dir="rtl" type="password" class="white validate" required placeholder="گذرواژه فعلی">
                    <validation name="currentPassword"></validation>
                </div>
            </div>
            <div class="row">
                <div class="input-field col l4 offset-l4 m4 offset-m4 s4 offset-s4">
                    <input name="password" ng-model="model.password" dir="rtl" type="password" class="white validate" required placeholder="گذرواژه جدید">
                    <validation name="password"></validation>
                </div>
            </div>
            <div class="row">
                <div class="input-field col l4 offset-l4 m4 offset-m4 s4 offset-s4">
                    <input name="confirmPassword" ng-model="model.confirmPassword" ng-match="model.password" dir="rtl" type="password" class="white validate" required placeholder="تکرار گذرواژه جدید" >
                    <validation name="confirmPassword"
                                match="تکرار کلمه عبور با کلمه عبور یکسان نیست"></validation>
                </div>
            </div>
            <div class="row center">
                <input type="button" class="waves-effect waves-light btn btn-large red accent-2" ng-click="showDashboard()" value="انصراف" />
                &nbsp;&nbsp;&nbsp;
                <button class="waves-effect waves-light btn btn-large teal accent-2" type="submit">
                    تغییر
                </button>
            </div>
        </form>
    </div>
</div>