<div class="container valign-wrapper login">
    <div class="valign">
        <div class="row header-text center">
            <label class="master-title teal-text text-lighten-4">حذف وظیفه</label>
        </div>
        <div class="row center">
            <h5>آیا مطمئن هستید؟</h5>
            <h6>در صورت حذف، امکان بازگردانی وظیفه وجود نخواهد داشت</h6>
        </div>
        <div class="row center">
            <input type="button" class="waves-effect waves-light btn btn-large red accent-2" ng-click="showDashboard()" value="خیر" />
            &nbsp;&nbsp;&nbsp;
            <input type="button" class="waves-effect waves-light btn btn-large teal accent-2" ng-click="submit()" value="بله" />
        </div>
    </div>
</div>