<nav class="teal fixed ">
    <div class="nav-wrapper">
        <a href="#" class="dropdown-button" data-activates='dropdown1'><img src="./img/1451456913_brodie.jpg" class="responsive-img circle"></a>
        <ul id='dropdown1' class='dropdown-content'>
            <li><a class="right modal-trigger" href="#modal3">پروفایل</a></li>
            <li><a class="right modal-trigger" href="#modal4">تغییر گذرواژه</a></li>
            <li class="divider"></li>
            <li><a class="right" href="#">خروج</a></li>
        </ul>
        <ul id="nav-mobile" class="right ">
            <li><a href="#">لیست وظایف</a></li>
        </ul>
    </div>
</nav>
<div ui-view></div>