<div class="container" dir="rtl">

    <div class="row ">
        <label class="teal-text text-lighten-2">خرید منزل</label><a class=" edit-title modal-trigger left" href="#"><i class="mdi edit teal-text white mdi-close"></i></a><a class="edit-title modal-trigger left" href="#modal2"><i class="mdi edit teal-text white mdi-pencil"></i></a>
    </div>

    <hr>
    <div class="row checked">
        <hr class="checkpointer">
        <div class="col l1 right custom-col" style="margin-top: 0.5rem">
            <input type="checkbox" checked id="test5" />
            <label for="test5" class="chkbox"> </label>
        </div>
        <div class="col 6 right" style="line-height:30px">
            <label class="task">سه کیلو پیاز</label>
        </div>
        <div class="col 2 " style="line-height: 15px">
            <a class="btn modal-trigger" href="#modal1"><i class="mdi mdi-pencil"></i> </a>
            <a class="btn"><i class="mdi mdi-close"></i> </a>

        </div>
        <div class="col 3 ">
            <label class="date">95/03/02</label>
        </div>

    </div>
    <div class="row">
        <div class="col l1 right custom-col">
            <input type="checkbox" id="test6" />
            <label for="test6" class="chkbox"> </label>
        </div>
        <div class="col 6 right" style="line-height: 15px">
            <label class="task">یک کیلو برنج</label>
        </div>
        <div class="col 2 " style="line-height: 15px">
            <a class="btn modal-trigger" href="#modal1"><i class="mdi mdi-pencil"></i></a>

            <a class="btn"><i class="mdi mdi-close"></i> </a>

        </div>
        <div class="col 3 ">
            <label class="date">95/03/02</label>
        </div>

    </div>

    <div class="row">
        <div class="col l1 right custom-col">
            <input type="checkbox" id="test7" />
            <label for="test7" class="chkbox"> </label>
        </div>
        <div class="col 6 right" style="line-height: 15px">
            <label class="task">پنج کیلو گردو</label>
        </div>
        <div class="col 2 " style="line-height: 15px">
            <a class="btn  modal-trigger" href="#modal1"><i class="mdi mdi-pencil"></i> </a>
            <a class="btn"><i class="mdi mdi-close"></i> </a>

        </div>
        <div class="col 3 ">
            <label class="date">95/03/02</label>
        </div>

    </div>
    <div class="row">
        <ul class="pagination left">
            <li class="waves-effect"><a href="#!"><i class="mdi mdi-chevron-right"></i></a></li>

            <li class="waves-effect"><a href="#!">5</a></li>
            <li class="waves-effect"><a href="#!">4</a></li>
            <li class="waves-effect"><a href="#!">3</a></li>
            <li class="waves-effect"><a href="#!">2</a></li>
            <li class="active"><a href="#!">1</a></li>
            <li class="disabled"><a href="#!"><i class="mdi mdi-chevron-left"></i></a></li>
        </ul>
    </div>
    <hr>
</div>